<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:t="Helhum\TyposcriptRendering\ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Standard"></f:layout>

<f:section name="Default">

	<h3>Anmeldung zum Newsletter</h3>
	<p>Vielen Dank für Ihr Interesse!<br>
	   Nächster Schritt: Newsletter-Anmeldung bestätigen</p>
	<p>Wir haben Ihnen soeben eine E-Mail an folgende Adresse geschickt: {subscription.email}. Darin finden Sie einen Link zur Bestätigung.<br>
	   Bitte beachten Sie, dass Ihre Anmeldung erst nach der Bestätigung des Links abgeschlossen ist!
	</p>
	<p>
		Wenn Sie in den nächsten Minuten keine E-Mail erhalten, prüfen Sie bitte Ihren Spam-Ordner.
	</p>

</f:section>