<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:t="Helhum\TyposcriptRendering\ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Standard"></f:layout>

<f:section name="Default">

	<h3>Informationen zu Ihrem Abonnement</h3>
	<p>
		<f:format.html>{message}</f:format.html></p>
	<p>Sollten Sie die E-Mail nicht erhalten haben:</p>
	<ul>
		<li>Überprüfen Sie, ob die E-Mail-Adresse oben korrekt ist.</li>
		<li>Überprüfen Sie auch bitte Ihren Spam-Ordner auf falsch zugewiesene Mails.</li>
	</ul>
</f:section>