<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Standard"></f:layout>

<f:section name="Default">
	<f:form object="{subscription}" action="createUnsubscribeMail">
		<input type="hidden" name="formToken" value="{formToken}">
		<p>{f:translate(key: 'wantToCancel')}</p>
		<f:form.textfield name="email" placeholder="Ihre E-Mail-Adresse*"></f:form.textfield>
		<f:form.validationResults for="subscription.email">
			<f:if condition="{message}">
				<p class="help-text">{message}</p>
			</f:if>
		</f:form.validationResults>

		<f:form.validationResults for="subscription.dataProtection">
			<f:if condition="{validationResults.flattenedErrors}">
				<f:for each="{validationResults.errors}" as="error">
					<p class="help-text">
						<f:translate key="error.{error.code}" />
					</p>
				</f:for>
			</f:if>
		</f:form.validationResults>
		<button class="button hollow" type="submit">{f:translate(key: 'sendMail')}</button>
	</f:form>
</f:section>
