<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:t="Helhum\TyposcriptRendering\ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Standard"></f:layout>

<f:section name="Default">

	<h3>Abmeldung vom Newsletter</h3>

	<f:if condition="{success}">
		<f:then>
			<f:if condition="{subscription.email} || {subscription.name}">

				<p>Sie haben sich mit folgenden Daten abgemeldet:
					<br>
					<f:if condition="{subscription.name}">
						<f:then>Name: {subscription.name}
							<br>
						</f:then>
					</f:if>
					<f:if condition="{subscription.email}">
						E-Mail: {subscription.email}
					</f:if>
				</p>

			</f:if>
			<p>
				Sie können sich natürlich auch künftig jederzeit wieder für den Newsletter anmelden.
				<f:link.page pageUid="2" class="button">Newsletter Abo</f:link.page>
			</p>
		</f:then>
		<f:else>
			{message}
		</f:else>
	</f:if>


</f:section>