<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:t="Helhum\TyposcriptRendering\ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{subscription.firstName} || {subscription.lastName}">
	<p>Hello {subscription.firstName} {subscription.lastName},</p>
</f:if>

<p>If you want to cancel your subscription to our Newsletter, click the following link.</p>

<p>
	<f:link.action style="background-color: #003070; padding: 8px; color: white; text-decoration: none;" absolute="1" action="unsubscribe" controller="Subscribe" pluginName="Subscribe" extensionName="newslettersubscribe" arguments="{uid: subscription.uid, subscriptionHash: subscription.subscriptionHash}">Cancel subscription</f:link.action>
</p>

<p>Kind regards,</p>

<p>the newsletter team</p>
</html>

