<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{subscription.firstName} || {subscription.lastName}">
	<p>Hallo {subscription.firstName} {subscription.lastName},</p>
</f:if>

<p>Wenn Sie Ihr Abonnement kündigen wollen: Klicken Sie bitte folgenden Link.</p>

<p>
	<f:link.action style="background-color: #003070; padding: 8px; color: white; text-decoration: none;" absolute="1" action="unsubscribe" controller="Subscribe" pluginName="Unsubscribe" extensionName="newslettersubscribe" arguments="{uid: subscription.uid, subscriptionHash: subscription.subscriptionHash}">„E-Mails abbestellen“-Link</f:link.action>
</p>

<p>Herzliche Grüße,</p>

<p>Ihr Newsletter-Team</p>
</html>
