<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:t="Helhum\TyposcriptRendering\ViewHelpers"
      data-namespace-typo3-fluid="true">


<f:if condition="{subscription.firstName} || {subscription.lastName}">
	<p><f:translate key="hallo" arguments="{1:subscription.firstName, 2: subscription.lastName}" />,</p>
</f:if>

<p>wir freuen uns, dass Sie den Newsletter abonnieren möchten.<br>
   Die Anmeldung ist fast geschafft:</p>
<p>Zur Bestätigung der Anmeldung klicken Sie bitte hier:<br><br>
	<f:link.action style="background-color: #003070; padding: 8px; color: white; text-decoration: none;" absolute="1" pageUid="{settings.subscribeFormPid}" action="doConfirm" controller="Subscribe" pluginName="subscribe" extensionName="subscribe" arguments="{uid: subscription.uid, subscriptionHash: subscription.subscriptionHash}">Abonnement bestätigen</f:link.action>
</p>

<p>
	Sie können den Newsletter jederzeit abbestellen, indem Sie auf den<br><br>
	<f:link.action style="background-color: #003070; padding: 8px; color: white; text-decoration: none;" absolute="1" pageUid="{settings.subscribeFormPid}" action="unsubscribe" controller="Subscribe" pluginName="subscribe" extensionName="subscribe" arguments="{uid: subscription.uid, subscriptionHash: subscription.subscriptionHash}">„E-Mails abbestellen“-Link</f:link.action><br><br><br>klicken.
</p>
 

<p>Herzliche Grüße,</p>

<p>Ihr Newsletter-Team</p>



